@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:150px" >Quản Lý Cửa Hàng Điện Thoại</h1>
    <img src="https://humg.edu.vn/content/tintuc/Lists/News/Attachments/5728/Logo%20Truong%20Dai%20hoc%20Mo%20-%20Dia%20chat.JPG" alt="Trulli" width="333" height="333">
</div>
