@model BTL.Models.SanPham

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSP" class="control-label"></label>
                <input asp-for="MaSP" class="form-control" />
                <span asp-validation-for="MaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaSP" class="control-label"></label>
                <input asp-for="GiaSP" class="form-control" />
                <span asp-validation-for="GiaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongSP" class="control-label"></label>
                <input asp-for="SoLuongSP" class="form-control" />
                <span asp-validation-for="SoLuongSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrangSP" class="control-label"></label>
                <input asp-for="TinhTrangSP" class="form-control" />
                <span asp-validation-for="TinhTrangSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
